<div class="row">
  <div class="col-md-9 question-pages">
    <!--Begin link local-->
    <%= render 'local' %>
    <!--End link local-->   
    <article>
      <!--Begin Question -->
      <section class="post">
      <!-- Begin list-post-->         
      <div class="list-post">
        <div class="page-header">
          <h4><a href=""><span class="glyphicon glyphicon-folder-open"></span>  Most visit </a></h4>
        </div>
        <!-- Begin post-->
        <% @questions.each do |question| %> 
        <div class="page-header">
        
          <div class="row">
          
            <div class="col-md-2" style="border-color: lavender;">
              <a href="#"> Answer  |</a> 
            </div>
            <div class="col-md-10">
              <div>
                <%= link_to question.title, question  %>
                <p class="meta"><span class="badge">12</span></p>
              </div>
                    <div class='meta'>
                        <%= link_to question.user.try(:name), question.user  %> | 
                        <strong>on: </strong> 23-12-2015 |
                        <strong> votes: </strong>1 |
                        <strong> views: </strong>13
                    </div>
            </div>  
          </div>  
        </div>
        <% end %>
        <div class="page-header">
          <div id="pagination">
            <ul class="pagination pagination-sm">
              <li><a href="#">First</a></li>
              <li><a href="#">Next</a></li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Previous</a></li>
            </ul>
          </div>
        </div>
      </div>                
      </section>
      
      <!--End Reply Question-->
      
    </article>
    <!-- End main-post-->
    <div class="clear"></div>
    <!--Begin link local-->
              
  </div>
  <%= render 'layouts/panel' %>
</div>
