// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.authform {
  padding-top: 30px;
  max-width: 460px;
  margin: 0 auto;
}
.authform form {
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}

.avatar_img {
  with: 50px;
  height: 50px;
  margin-left: 0px;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.users {
  list-style: none;
  margin: 0;

  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lavender;
  }
}
select#user_role{
  width: 50%;
  margin-right: 0px;
}

table td:hover{
  background-color: #E6E6FA;
}
