<!-- Begin panel-->	
<div class="col-md-3">
	<div class="search-user">		
		<input type="search" class="form-control" id="search" placeholder="Search" style="clear: both; margin-bottom: 10px;">
	</div>
	<div class="panel-group" id="accordion" style="">
        <div class="panel panel-default">
          	<div class="panel-heading">
            	<h4 class="panel-title">
             	 <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Day la collaps 1</a>
            	</h4>
          	</div>
          	<div id="collapse1" class="panel-collapse collapse in">
	            <div class="panel-body">Anh Phan Đoàn Lâm, Quản lý nhà hàng tại số 42 Tăng Bạt Hổ cho hay, Ủy ban an toàn giao thông Quốc gia đã phối hợp với nhà hàng thực hiện thí điểm dịch vụ khách say được đưa về nhà. Trước khi thực hiện, nhân viên của nhà hàng được phổ biến quy định, việc làm cụ thể khi đưa khách say về nhà
	            </div>
          	</div>
        </div>
        <div class="panel panel-default">
          	<div class="panel-heading">
            	<h4 class="panel-title">
           	  	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Day la collaps 2</a>
            	</h4>
          	</div>
          	<div id="collapse2" class="panel-collapse collapse">
	            <div class="panel-body">Anh Phan Đoàn Lâm, Quản lý nhà hàng tại số 42 Tăng Bạt Hổ cho hay, Ủy ban an toàn giao thông Quốc gia đã phối hợp với nhà hàng thực hiện thí điểm dịch vụ khách say được đưa về nhà. Trước khi thực hiện, nhân viên của nhà hàng được phổ biến quy định, việc làm cụ thể khi đưa khách say về nhà
	            </div>
          	</div>
        </div>
        <div class="panel panel-default">
          	<div class="panel-heading">
            	<h4 class="panel-title">
              	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Day la Collaps 3</a>
            	</h4>
          	</div>
          	<div id="collapse3" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul>
	            		<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
	            	</ul>
	            </div>
	        </div>
        </div>
    </div>
</div>
<!-- End panel-->	